.paginator {
    margin: 0 0 20px 0;
    display: inline-block;
}

@media (max-width: 576px) {
    .paginator {
        margin-top: 10px;

    }
}

.pageNumber {
    cursor: pointer;
    display: inline;
    padding: 10px;
    font-size: 20px;
}

@media (max-width: 576px) {
    .pageNumber {
        padding: 4px
    }
}

@media (max-width: 576px) {
    .paginator {
        max-width: 320px;
        overflow: auto;
    }
}

.pageNumber.selectedPage {
    background-color: cornflowerblue;;
    color: white;
    border-radius: 5px;
    margin: 5px;
}